button
  cursor: pointer
  height: 35px
  width: 170px
  border-radius: 5px
  color: black

.delete

  background-color: white
  border: 1px solid red


.delete:hover
  background-color: red
  color: white
  transition: background-color 0.8s, color 0.5s

.edit
  background-color: white
  border: 1px solid green

.edit:hover
  background-color: green
  color: white
  transition: background-color 0.8s, color 0.5s

.back
  background-color: white
  border: 1px solid darkblue

.back:hover
  background-color: darkblue
  color: white
  transition: background-color 0.8s, color 0.5s
